{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "modules": false
    }],
    ["babel-preset-proposals", {
      "all": true
    }]
  ],
  "plugins": [
    "babel-plugin-lodash"
  ]
}
